* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
}

#board {
    background-color: #bbada0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.9vmin;
    padding: 0.9vmin;
    border-radius: 0.4vmin;
}

.cell {
    background-color: #cdc1b4;
    color: #776e65;
    width: 12vmin;
    height: 12vmin;
    border-radius: 0.4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    font-weight: bold;
}

.tile-2 {
    background-color: #eee4da;
    color: #776e65;
}

.tile-4 {
    background-color: #ede0c8;
    color: #776e65;
}

.tile-8 {
    background-color: #f2b179;
    color: #f9f6f2;
}

.tile-16 {
    background-color: #f59563;
    color: #f9f6f2;
}

.tile-32 {
    background-color: #f67c5f;
    color: #f9f6f2;
}

.tile-64 {
    background-color: #f65e3b;
    color: #f9f6f2;
}

.tile-128 {
    background-color: #edcf72;
    color: #f9f6f2;
}

.tile-256 {
    background-color: #edcc61;
    color: #f9f6f2;
}

.tile-512 {
    background-color: #edc850;
    color: #f9f6f2;
}

.tile-1024 {
    background-color: #edc53f;
    color: #f9f6f2;
}

.tile-2048 {
    background-color: #edc22e;
    color: #f9f6f2;
}

#sectionGameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sectionGameOver.hidden {
    display: none;
}

#sectionGameOver span {
    margin-top: 8vmin;
    color: whitesmoke;
    font-size: 3.6vmin;
    font-weight: bold;
}

#sectionGameOver button {
    margin-top: 2.8vmin;
    padding: 1vmin 1.6vmin;
    font-size: 1.5vmin;
    font-weight: bold;
    background-color: #f2d679;
    cursor: pointer;
    border-radius: 0.4vmin;
    border: none;
}

#sectionGameOver button:hover {
    background-color: #e4c972;
}